<ng-container *ngIf="!_authService.isAuthenticated">
  <mahi-login></mahi-login>
</ng-container>
<ng-container *ngIf="_authService.isAuthenticated">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Material Template</span>
    <span class="example-spacer"></span>

    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button [matMenuTriggerFor]="notifications">
            <mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
          </button>
          <mat-menu #notifications="matMenu">
            <button mat-menu-item>
              <mat-icon>chat</mat-icon>
              <span>3 new messages</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>group</mat-icon>
              <span>8 friend requests</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <mat-icon>thumb_up</mat-icon>
              <span>102 friends like your post</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item class="textCenter">
              <span>See All Notifications</span>
            </button>

          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="chat">
            <mat-icon matBadge="3" matBadgeColor="warn">chat</mat-icon>
          </button>
          <mat-menu #chat="matMenu">
            <mat-card class="example-card cursorPointer">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mahipal Choudhary</mat-card-title>
                <mat-card-subtitle>
                  <div>Call me whenever you can..</div>
                  <div>
                    <mat-icon class="timerIcon" color="primary">schedule</mat-icon>4 hours ago
                  </div>
                </mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card class="example-card cursorPointer">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Alex</mat-card-title>
                <mat-card-subtitle>
                  <div>I got your message bro..</div>
                  <div>
                    <mat-icon class="timerIcon" color="primary">schedule</mat-icon>5 hours ago
                  </div>
                </mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-divider></mat-divider>
            <button mat-menu-item class="textCenter">
              <span>See All Messages</span>
            </button>
          </mat-menu>

        </div>
      </div>
    </section>



    <span>Welcome Mahipal</span>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>lock_reset</mat-icon>
        <span>Change Password</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-drawer-container class="example-container bkgdColor" autosize>
    <mat-drawer [(opened)]="IsDrawer" #drawer class="example-sidenav" mode="side">

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          {{node.name}}
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </div>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>

    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>

</ng-container>