.example-spacer {
    flex: 1 1 auto;
}

.example-card {
    max-width: auto;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.contentBody {
    min-height: 200px;
    height: auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}

.SearchDD {
    width: 200px;
}

.SubmitBtn {
    margin-left: 240px;
    margin-top: -50px;
}

.btnsbmt {
    margin-right: 5px;
}

//sidenav css

.example-container {
    // width: 500px;
    height: 90%;
    //border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
}

.example-sidenav {
    padding: 20px;
}

.HeaderNotficationMenu {
    display: flex;
}

.paddingRight {
    padding-right: 20px;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    width: 120px;
}

.example-button-row .mat-button-base {
    margin: 8px 15px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
